@{
    ViewData["Title"] = "Mitsubishi Đà Nẵng";
}
<div class="banner-slide">
    <div class="slick-single-item">
        <div class="banner-slide-item">
            <a href="javascript:;" title="Outlander-CKD" target="">
                <picture>
                    <img srcset="/media/1753/outlanderckd.jpg?width=1920&height=800&mode=crop" alt="Outlander-CKD" class="res-img" />
                </picture>
            </a>
        </div>
        <div class="banner-slide-item">
            <a href="javascript:;" title="Attrage" target="">
                <picture>
                    <img srcset="/media/1015/attrage-loi-cuon-tron-ven1.jpg?width=1920&height=800&mode=crop" alt="Attrage" class="res-img" />
                </picture>
            </a>
        </div>
        <div class="banner-slide-item">
            <a href="javascript:;" title="Triton" target="">
                <picture>
                    <img srcset="/media/1017/website.jpg?width=1920&height=800&mode=crop" alt="Triton" class="res-img" />
                </picture>
            </a>
        </div>
        <div class="banner-slide-item">
            <a href="javascript:;" title="Bảng gi&#225; b&#225;n xe Mitsubishi th&#225;ng 3/2018 tại Đ&#224; Nẵng" target="">
                <picture>
                    <img srcset="/media/1757/banner-newyear-5m-x-2m.jpg?width=1920&height=800&mode=crop" alt="Bảng gi&#225; b&#225;n xe Mitsubishi th&#225;ng 3/2018 tại Đ&#224; Nẵng" class="res-img" />
                </picture>
            </a>
        </div>
        <div class="banner-slide-item">
            <a href="javascript:;" title="Pajero Sport" target="">
                <picture>
                    <img srcset="/media/1758/slide-mitsubishi-pajero-sport.jpg?width=1920&height=800&mode=crop" alt="Pajero Sport" class="res-img" />
                </picture>
            </a>
        </div>
    </div>
    <span class="icon-box hidden-xs hidden-sm"><i class="svg-icon icon-arrow-down-white"></i></span>
</div>

<div class="normal-block feature-news-block">
    <div class="grid-inner">
        <h3 class="title-block"><span>Th&#244;ng tin nổi bật</span></h3>
    </div>
    <div class="feature-news-inner">
        <div class="slide-center">
            <div class="feature-news-box">
                <figure class="feature-news-item">
                    <div class="thumb">
                        <img src="../media/1737/b%e1%ba%a3n-sao-banner-3-1-copy0c84.jpg?width=400&amp;height=275&amp;mode=crop" alt="Bảng gi&#225; b&#225;n xe Mitsubishi th&#225;ng 3/2018 tại Đ&#224; Nẵng" class="res-img" />
                    </div>
                    <figcaption class="content">
                        <h4 class="br-l-title">
                            <a href="../tin-tuc/khuyen-mai/bang-gia-ban-xe-mitsubishi-thang-32018-tai-da-nang/index.html" title="Bảng gi&#225; b&#225;n xe Mitsubishi th&#225;ng 3/2018 tại Đ&#224; Nẵng">Bảng gi&#225; b&#225;n xe Mitsubishi th&#225;ng 3/2018 tại Đ&#224; Nẵng</a>
                        </h4>
                        <p class="summary">Mitsubishi Motors Đ&#224; Nẵng mang đến cho qu&#253; kh&#225;ch h&#224;ng chương tr&#236;nh khuyến m&#227;i trong th&#225;ng 03/2018 . Đ&#226;y l&#224; cơ hội để kh&#225;ch h&#224;ng sở hữu nhưng mẫu xe Mitsubishi chất lượng - tin c&#226;y...</p>
                    </figcaption>
                </figure>
            </div>
            <div class="feature-news-box">
                <figure class="feature-news-item">
                    <div class="thumb">
                        <img src="../media/1739/10c84.jpg?width=400&amp;height=275&amp;mode=crop" alt="Gi&#225; xe Mitsubishi Outlander lắp r&#225;p trong th&#225;ng 01/2018 tại Đ&#224; Nẵng" class="res-img" />
                    </div>
                    <figcaption class="content">
                        <h4 class="br-l-title">
                            <a href="../tin-tuc/tin-tuc-tong-hop/gia-xe-mitsubishi-outlander-lap-rap-trong-thang-012018-tai-da-nang/index.html" title="Gi&#225; xe Mitsubishi Outlander lắp r&#225;p trong th&#225;ng 01/2018 tại Đ&#224; Nẵng">Gi&#225; xe Mitsubishi Outlander lắp r&#225;p trong th&#225;ng 01/2018 tại...</a>
                        </h4>
                        <p class="summary">Kế thừa v&#224; ph&#225;t huy c&#225;c ưu điểm của d&#242;ng Mitsubishi Outlander nhập khẩu. Nay Mitsubishi ra mắt phi&#234;n bản lắp r&#225;p với gi&#225; th&#224;nh cạnh trạnh chỉ từ 807,500,000 triệu.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="feature-news-box">
                <figure class="feature-news-item">
                    <div class="thumb">
                        <img src="../media/1737/b%e1%ba%a3n-sao-banner-3-1-copy0c84.jpg?width=400&amp;height=275&amp;mode=crop" alt="Chương tr&#236;nh ưu đ&#227;i đặc biệt trong th&#225;ng 01/2018-“Xe Mới Ch&#224;o Xu&#226;n Mới”." class="res-img" />
                    </div>
                    <figcaption class="content">
                        <h4 class="br-l-title">
                            <a href="../tin-tuc/khuyen-mai/chuong-trinh-uu-dai-dac-biet-trong-thang-012018-xe-moi-chao-xuan-moi/index.html" title="Chương tr&#236;nh ưu đ&#227;i đặc biệt trong th&#225;ng 01/2018-“Xe Mới Ch&#224;o Xu&#226;n Mới”.">Chương tr&#236;nh ưu đ&#227;i đặc biệt trong th&#225;ng 01/2018-“Xe Mới...</a>
                        </h4>
                        <p class="summary">Mitsubishi Motors Đ&#224; Nẵng mang đến chương tr&#236;nh ưu đ&#227;i đặc biệt “Xe Mới Ch&#224;o Xu&#226;n Mới” với gi&#225; mới bắt đầu từ th&#225;ng 01/2018. Đ&#226;y l&#224; cơ hội để kh&#225;ch h&#224;ng sở hữu những mẫu xe...</p>
                    </figcaption>
                </figure>
            </div>
            <div class="feature-news-box">
                <figure class="feature-news-item">
                    <div class="thumb">
                        <img src="../media/1735/480x3000c84.png?width=400&amp;height=275&amp;mode=crop" alt="Chương tr&#236;nh ưu đ&#227;i trong th&#225;ng 12/2017- “Xe Mới Ch&#224;o Xu&#226;n Mới” của Mitsubishi Đ&#224; Nẵng" class="res-img" />
                    </div>
                    <figcaption class="content">
                        <h4 class="br-l-title">
                            <a href="../tin-tuc/khuyen-mai/chuong-trinh-uu-dai-trong-thang-122017-xe-moi-chao-xuan-moi-cua-mitsubishi-da-nang/index.html" title="Chương tr&#236;nh ưu đ&#227;i trong th&#225;ng 12/2017- “Xe Mới Ch&#224;o Xu&#226;n Mới” của Mitsubishi Đ&#224; Nẵng">Chương tr&#236;nh ưu đ&#227;i trong th&#225;ng 12/2017- “Xe Mới Ch&#224;o Xu&#226;n...</a>
                        </h4>
                        <p class="summary">
                            Chương tr&#236;nh ưu trong th&#225;ng 12/ 2017- “Xe Mới Ch&#224;o Xu&#226;n Mới”.
                            Trong th&#225;ng 12 n&#224;y, Mitsubishi Motors Đ&#224; Nẵng mang đến chương tr&#236;nh ưu đ&#227;i đặc biệt “Xe Mới Ch&#224;o Xu&#226;n Mới” với tổng...
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="view-more-link">
            <a href="../tin-tuc/index.html" title="Xem tất cả" class="btn btn-red">Xem tất cả</a>
        </div>
    </div>
</div>
<!-- End Feature News block-->
<!-- Feature Products block-->
<div class="normal-block vehicle-block">
    <div class="grid-inner">
        <h2 class="title-block"><span>Sản phẩm</span></h2>
        <div class="vehicle-inner">
            <div class="vehicle-item">
                <a href="../san-pham/mirage/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1027/mirage.png" alt="/san-pham/mirage/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/mirage/index.html">Mirage</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>5.0l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>370 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/mirage/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/attage/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1026/attrage.png" alt="/san-pham/attage/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/attage/index.html">Attage</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>4.97l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>400 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/attage/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/outlander/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1028/outlander.png" alt="/san-pham/outlander/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/outlander/index.html">Outlander</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>7.44l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>808 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/outlander/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/outlander-sport/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1031/outlandersport-1.png" alt="/san-pham/outlander-sport/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/outlander-sport/index.html">Outlander Sport</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>7.9l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>900 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/outlander-sport/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/pajero/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1029/pajero.png" alt="/san-pham/pajero/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/pajero/index.html">Pajero</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>12l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>2,120 tỉ đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/pajero/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/pajero-sport/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1032/car-pajerosport.png" alt="/san-pham/pajero-sport/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/pajero-sport/index.html">Pajero Sport</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>8.27l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>804 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/pajero-sport/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/all-new-pajero-sport/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1033/new-pajero-sport.png" alt="/san-pham/all-new-pajero-sport/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/all-new-pajero-sport/index.html">All New Pajero Sport</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>10,25l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>1,355 tỉ đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/all-new-pajero-sport/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
            <div class="vehicle-item">
                <a href="../san-pham/triton/index.html">
                    <picture class="vehicle-item-img">
                        <img src="../media/1030/triton.png" alt="/san-pham/triton/" class="vehicle-item-img" />
                    </picture>
                </a>
                <h3 class="vehicle-item-title"><a href="../san-pham/triton/index.html">Triton</a></h3>
                <div class="vehicle-item-summary">
                    <ul class="vehicle-item-desc">
                        <li class="text">Ti&#234;u thụ: <strong>7l/100km</strong></li>
                        <li class="text">Gi&#225; từ: <strong>596 triệu đồng</strong></li>
                    </ul>
                    <div class="more">
                        <a href="../san-pham/triton/index.html" class="btn btn-red">Xem th&#234;m</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Products block-->